
@{

    ViewBag.Title = "KullaniciEkle";
    Layout = "~/Views/Shared/_Layoutblog.cshtml";
}

<h2>KullaniciEkle</h2>

<form method="post" class="form-group">

    
    <div>

        <label>AD</label>
        <input type="text" class="form-control" name="AD" />

    </div>
    <div>

        <label>SOYAD</label>
        <input type="text" class="form-control" name="SOYAD" />

    </div>
    <div>

        <label>MAIL</label>
        <input type="text" class="form-control" name="MAIL" />

    </div>
    <div>

        <label>SIFRE</label>
        <input type="text" class="form-control" name="SIFRE" />

    </div>
    <div>

        <label>ROLES</label>
        <input type="text" class="form-control" name="ROLES" />

    </div>
    <div>
        <button class="btn btn-info">Kullanıcı Ekle</button>
    </div>

</form>