<section class="about-style-one">
    <div class="outer-box clearfix">

        <!--Content Column-->
        <div class="content-column clearfix">
            <div class="content-box">
                <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <!--Section Title-->
                    <div class="sec-title">
                        <h2>BK | <span>E-STAJ</span></h2>
                    </div>
                    <div class="text">Web sitemde bulunan E-Staj modülünü kullanarak staj bilgilerinizi girebilir , belgelerinizi ekleyebilir ve eğitimcinizin bu verilere ulaşmasını sağlayabilirsiniz. Unutmayın ; modülü kullanabilmek için üye olup giriş yapmanız gerekmektedir. </div>
                    <div class="link-btn"><a href="/Stajyer/Index" class="btn-style-two">Daha fazla bilgi <span class="fa fa-long-arrow-right"></span></a></div>
                </div>
            </div>
        </div>

        <!--Image Column-->
        <div class="image-column" style="        background-image: url(/Content/Site/images/resource/about.jpg);"><div class="image"><img src="~/Content/Site/images/resource/about.jpg" alt=""></div><a href="https://www.youtube.com/watch?v=6UnrIyNjB3Q" class="overlay-link video-fancybox"><span class="icon fa fa-play"></span></a></div>

    </div>
</section>
