
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="inner-banner has-base-color-overlay text-center" style="background: url(/Content/Site/images/background/1.jpg);">
    <div class="container">
        <div class="box">
            <h3>SERTİFİKALAR & TOPLULUKLAR & ETKİNLİKLER</h3>
        </div><!-- /.box -->
    </div><!-- /.container -->
</div>
<div class="breadcumb-wrapper">
    <div class="container">
        <div class="pull-left">
            <ul class="list-inline link-list">
                <li>
                    <a href="@Url.Action("","")">Anasayfa</a>
                </li>
                <li>
                    <a href="@Url.Action("Index","Sertifika")">Sertifikalarım</a>
                </li>
                <li>
                    Sertifikalarım
                </li>
            </ul><!-- /.list-line -->
        </div><!-- /.pull-left -->

    </div><!-- /.container -->
</div>
<section class="service-single">
    <div class="container">
        <div class="row">
            <div class="col-md-3">

                <div class="sertifikalarım-sidebar">
                    <ul class="service-catergory">
                        <li id="DeveloperS" class="active" style="cursor:pointer"><a> Sertifika Ve Topluluklar</a> <span class="view-all-icon fa fa-caret-right"></span></li>
                       

                    </ul>
                    <br>
                    <br>


                </div>

            </div>
            <div class="col-md-9" id="DeveloperSDiv">
                <div class="outer-box">


                    <br>

                    <div class="text">
                        <h3><center>Object Oriented Programming (OOPs) Concept in C# </center> </h3>

                        <h3> <center>Object Oriented Programming (OOPs) Concept in JAVA</center> </h3>

                        <h3><center>RİSK YÖNETİMİ </center> </h3>
                        <h4> <center>RISK MANAGEMENT</center> </h4>

                        <h3><center>STRATEJİK YÖNETİM </center> </h3>
                        <h4> <center>STRATEGIC MANAGEMENT</center> </h4>

                        <h3><center>İNSAN KAYNAKLARI YÖNETİMİ  </center> </h3>
                        <h4> <center>HUMAN RESOURCES MANAGEMENT</center> </h4>

                        <h3><center>ISO 9001:2015 İÇ TETİKÇİ </center> </h3>
                        <h4> <center>ISO 9001:2015 INTERNAL ASSESSOR</center> </h4>

                        <h3><center>ZAMAN YÖNETİMİ </center> </h3>
                        <h4> <center>TIME MANAGEMENT</center> </h4>

                        <h3><center>ENTEGRE YÖNETİM SİSTEMİ </center> </h3>
                        <h4> <center>INTEGRATED MANAGEMENT SYSTEM</center> </h4>

                        <h3><center>ETKİN YÖNETİM VE LİDERLİK   </center> </h3>
                        <h4> <center>EFFECTIVE MANAGEMENT AND LEADERSHIP</center> </h4>

                        <h3><center>TAKIM ÇALIŞMASI VE PERFORMANS YÖNETİMİ   </center> </h3>
                        <h4> <center>TEAMWORK AND PERFORMANCE</center> </h4>

                        <h3><center>MOTİVASYON VE STRES YÖNETİMİ   </center> </h3>
                        <h4> <center>MOTIVATION AND STRESS MANAGEMENT</center> </h4>

                        <h3><center>İŞ YERİ ORGANİZASYONU   </center> </h3>
                        <h4> <center>WORK PLACE ORGANAZITION</center> </h4>

                        <h3><center>SO 10002 MÜŞTERİ ŞİKAYET YÖNETİMİ   </center> </h3>
                        <h4> <center>ISO 10002 CUSTOMER SATISFACTION AND COMPLAINT MANAGEMENT</center> </h4>

                        <h3><center>ISO 27001 BİLGİ GÜVENLİĞİ YÖNETİM SİSTEMİ   </center> </h3>
                        <h4> <center>ISO 27001 INFORMATION SECURITY MANAGEMENT SYSTEM</center> </h4>

                        <h3><center>ISO 14001 ÇEVRE YÖNETİM SİSTEMİ </center> </h3>
                        <h4> <center>ISO 14001 ENVIRONMENTAL MANAGEMENT SYSTEM</center> </h4>
                        <h3><center>DÜKAT MEDYA VE İLETİŞİM DEPARTMANI </center> </h3>
                        <h3> <center>TEKNOLOJİ VE GİRİŞİMCİLİK TOPLULUĞU KURUCU BAŞKAN</center> </h3>
                        <h3> <center>DÜZCE STARTUP WEEKEND 2017</center> </h3>
                        <h3> <center>DÜZCE STARTUP WEEKEND 2019</center> </h3>

                        <br>

                    </div>
                    <div class="col-md-9" id="PazarlamaSDiv" hidden="hidden">




                        
                        
                            <<h2>
                                ahmey Consectetur adipiscing elit. Curabitur libero enim, lacinia finibus ante et, imperdiet finibus risus. Donec malesuada luctus elit nec hendrerit. Integer ex sap ien, eleifend sit amet tellus ut, porttitor dictum velit. Nulla scelerisque, nisl eu maximus bibendum nibh risus eleifend ex, id dapibus leo dui in nulla. Donec sollicitudin molestie erat sit amet elementum. Donec at lacinia massa, eu hen rit ex. Donec hendrerit, porttitor.<br>
                            </h2>
                        





                    </div>

                </div>

            </div>
        </div>

    </div>
           
  

            <div class="col-md-9" id="YönetimSDiv" hidden="hidden">
                <div class="outer-box">


                    <br>

                    <div class="text">
                        hilal Consectetur adipiscing elit. Curabitur libero enim, lacinia finibus ante et, imperdiet finibus risus. Donec malesuada luctus elit nec hendrerit. Integer ex sap ien, eleifend sit amet tellus ut, porttitor dictum velit. Nulla scelerisque, nisl eu maximus bibendum nibh risus eleifend ex, id dapibus leo dui in nulla. Donec sollicitudin molestie erat sit amet elementum. Donec at lacinia massa, eu hen rit ex. Donec hendrerit, porttitor.<br>

                    </div>

                    <div class="inner-title">
                        <h3>Overview</h3>
                    </div>
                    <div class="text">
                        Lorem ipsum dolor sit amet, vix an natum labitur eleifend, mel amet a laorit menandri. Ei justo complectitur duo. Ei mundi solet ut soletu mel possit quo. Sea cu justo laudem. An utinam consulatu eos, est facilis suscipiantur te, vim te iudico delenit voluptatibus. Lorem ipsum dolor sit amet, vix an natum labitur eleifend, mel amet a laorit menandri. Ei justo complectitur duo. Ei mundi solet ut soletu mel possit quo. Sea cu justo laudem. An utinam consulatu eos, est facilis suscipiantur te, vim te iudico delenit voluptatibus. Lorem ipsum dolor sit amet, vix an natum labitur eleifend, mel amet a laorit menandri. Ei justo complectitur duo. Ei mundi solet ut soletu mel possit quo. Sea cu justo laudem. An utinam consulatu eos, est facilis suscipiantur te, vim te iudico delenit voluptatibus.
                    </div>

                    <br>
                    <div class="text">
                        Finibus ante et, imperdiet finibus risus. Donec malesuada luctus elit nec hendrerit. Integer ex sap ien, eleifend sit amet tellus ut, porttitor dictum velit. Nulla scelerisque, nisl eu maximus bibendum nibh risus eleifend ex, id dapibus leo dui in nulla. Donec sollicitudin molestie erat sit amet elementum. Donec at lacinia massa, eu hen rit ex.<br><br>

                        Consectetur adipiscing elit. Curabitur libero enim, lacinia finibus ante et, imperdiet finibus risus. Donec malesuada luctus elit nec hendrerit. Integer ex sap ien, eleifend sit amet tellus ut, porttitor dictum velit. Nulla scelerisque, nisl eu maximus bibendum nibh risus eleifend ex, id dapibus leo dui in nulla. Donec sollicitudin molestie erat sit amet elementum. Donec at lacinia massa, eu hen rit ex. Donec hendrerit, porttitor.
                    </div><br>

                    <div class="strategies">
                        <div class="inner-title">
                            <h3>Marketing Strategy</h3>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-12">

                                <div class="text">
                                    <p>Integer ex sap ien, eleifend sit amet tellus ut, porttitor dictum velit. Nulla scelerisque, nisl eu maximus bibendum nibh risus eleifend ex, id dapibus leo dui in nulla. Donec sollicitudin.</p>
                                </div>
                                <ul class="benifit">
                                    <li>States starship enterprise the Brady.</li>
                                    <li>The odds are against him and their dangers.</li>
                                    <li>Travelled down the road and back again.</li>
                                    <li>A loveable space that needs your face threes.</li>
                                    <li>Donec sollicitudin molestie erat sit amet elementum.</li>
                                    <li>Travelled down the road and back again.</li>
                                </ul>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">

                                <figure class="image-box">
                                    <img src="images/service/ss2.jpg" alt="">
                                </figure>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-9" id="IKSDiv" hidden="hidden">
                <div class="outer-box">


                    <br>

                    <div class="text">
                        melih Consectetur adipiscing elit. Curabitur libero enim, lacinia finibus ante et, imperdiet finibus risus. Donec malesuada luctus elit nec hendrerit. Integer ex sap ien, eleifend sit amet tellus ut, porttitor dictum velit. Nulla scelerisque, nisl eu maximus bibendum nibh risus eleifend ex, id dapibus leo dui in nulla. Donec sollicitudin molestie erat sit amet elementum. Donec at lacinia massa, eu hen rit ex. Donec hendrerit, porttitor.<br>

                    </div>

                    <div class="inner-title">
                        <h3>Overview</h3>
                    </div>
                    <div class="text">
                        Lorem ipsum dolor sit amet, vix an natum labitur eleifend, mel amet a laorit menandri. Ei justo complectitur duo. Ei mundi solet ut soletu mel possit quo. Sea cu justo laudem. An utinam consulatu eos, est facilis suscipiantur te, vim te iudico delenit voluptatibus. Lorem ipsum dolor sit amet, vix an natum labitur eleifend, mel amet a laorit menandri. Ei justo complectitur duo. Ei mundi solet ut soletu mel possit quo. Sea cu justo laudem. An utinam consulatu eos, est facilis suscipiantur te, vim te iudico delenit voluptatibus. Lorem ipsum dolor sit amet, vix an natum labitur eleifend, mel amet a laorit menandri. Ei justo complectitur duo. Ei mundi solet ut soletu mel possit quo. Sea cu justo laudem. An utinam consulatu eos, est facilis suscipiantur te, vim te iudico delenit voluptatibus.
                    </div>

                    <br>
                    <div class="text">
                        Finibus ante et, imperdiet finibus risus. Donec malesuada luctus elit nec hendrerit. Integer ex sap ien, eleifend sit amet tellus ut, porttitor dictum velit. Nulla scelerisque, nisl eu maximus bibendum nibh risus eleifend ex, id dapibus leo dui in nulla. Donec sollicitudin molestie erat sit amet elementum. Donec at lacinia massa, eu hen rit ex.<br><br>

                        Consectetur adipiscing elit. Curabitur libero enim, lacinia finibus ante et, imperdiet finibus risus. Donec malesuada luctus elit nec hendrerit. Integer ex sap ien, eleifend sit amet tellus ut, porttitor dictum velit. Nulla scelerisque, nisl eu maximus bibendum nibh risus eleifend ex, id dapibus leo dui in nulla. Donec sollicitudin molestie erat sit amet elementum. Donec at lacinia massa, eu hen rit ex. Donec hendrerit, porttitor.
                    </div><br>

                    <div class="strategies">
                        <div class="inner-title">
                            <h3>Marketing Strategy</h3>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-12">

                                <div class="text">
                                    <p>Integer ex sap ien, eleifend sit amet tellus ut, porttitor dictum velit. Nulla scelerisque, nisl eu maximus bibendum nibh risus eleifend ex, id dapibus leo dui in nulla. Donec sollicitudin.</p>
                                </div>
                                <ul class="benifit">
                                    <li>States starship enterprise the Brady.</li>
                                    <li>The odds are against him and their dangers.</li>
                                    <li>Travelled down the road and back again.</li>
                                    <li>A loveable space that needs your face threes.</li>
                                    <li>Donec sollicitudin molestie erat sit amet elementum.</li>
                                    <li>Travelled down the road and back again.</li>
                                </ul>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">

                                <figure class="image-box">
                                    <img src="images/service/ss2.jpg" alt="">
                                </figure>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-9" id="KISISDiv" hidden="hidden">
                <div class="outer-box">


                    <br>

                    <div class="text">
                        zeynep Consectetur adipiscing elit. Curabitur libero enim, lacinia finibus ante et, imperdiet finibus risus. Donec malesuada luctus elit nec hendrerit. Integer ex sap ien, eleifend sit amet tellus ut, porttitor dictum velit. Nulla scelerisque, nisl eu maximus bibendum nibh risus eleifend ex, id dapibus leo dui in nulla. Donec sollicitudin molestie erat sit amet elementum. Donec at lacinia massa, eu hen rit ex. Donec hendrerit, porttitor.<br>

                    </div>

                    <div class="inner-title">
                        <h3>Overview</h3>
                    </div>
                    <div class="text">
                        Lorem ipsum dolor sit amet, vix an natum labitur eleifend, mel amet a laorit menandri. Ei justo complectitur duo. Ei mundi solet ut soletu mel possit quo. Sea cu justo laudem. An utinam consulatu eos, est facilis suscipiantur te, vim te iudico delenit voluptatibus. Lorem ipsum dolor sit amet, vix an natum labitur eleifend, mel amet a laorit menandri. Ei justo complectitur duo. Ei mundi solet ut soletu mel possit quo. Sea cu justo laudem. An utinam consulatu eos, est facilis suscipiantur te, vim te iudico delenit voluptatibus. Lorem ipsum dolor sit amet, vix an natum labitur eleifend, mel amet a laorit menandri. Ei justo complectitur duo. Ei mundi solet ut soletu mel possit quo. Sea cu justo laudem. An utinam consulatu eos, est facilis suscipiantur te, vim te iudico delenit voluptatibus.
                    </div>

                    <br>
                    <div class="text">
                        Finibus ante et, imperdiet finibus risus. Donec malesuada luctus elit nec hendrerit. Integer ex sap ien, eleifend sit amet tellus ut, porttitor dictum velit. Nulla scelerisque, nisl eu maximus bibendum nibh risus eleifend ex, id dapibus leo dui in nulla. Donec sollicitudin molestie erat sit amet elementum. Donec at lacinia massa, eu hen rit ex.<br><br>

                        Consectetur adipiscing elit. Curabitur libero enim, lacinia finibus ante et, imperdiet finibus risus. Donec malesuada luctus elit nec hendrerit. Integer ex sap ien, eleifend sit amet tellus ut, porttitor dictum velit. Nulla scelerisque, nisl eu maximus bibendum nibh risus eleifend ex, id dapibus leo dui in nulla. Donec sollicitudin molestie erat sit amet elementum. Donec at lacinia massa, eu hen rit ex. Donec hendrerit, porttitor.
                    </div><br>

                    <div class="strategies">
                        <div class="inner-title">
                            <h3>Marketing Strategy</h3>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-12">

                                <div class="text">
                                    <p>Integer ex sap ien, eleifend sit amet tellus ut, porttitor dictum velit. Nulla scelerisque, nisl eu maximus bibendum nibh risus eleifend ex, id dapibus leo dui in nulla. Donec sollicitudin.</p>
                                </div>
                                <ul class="benifit">
                                    <li>States starship enterprise the Brady.</li>
                                    <li>The odds are against him and their dangers.</li>
                                    <li>Travelled down the road and back again.</li>
                                    <li>A loveable space that needs your face threes.</li>
                                    <li>Donec sollicitudin molestie erat sit amet elementum.</li>
                                    <li>Travelled down the road and back again.</li>
                                </ul>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">

                                <figure class="image-box">
                                    <img src="images/service/ss2.jpg" alt="">
                                </figure>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-9" id="ToplulukSDiv" hidden="hidden">
                <div class="outer-box">


                    <br>

                    <div class="text">
                        hüseyim Consectetur adipiscing elit. Curabitur libero enim, lacinia finibus ante et, imperdiet finibus risus. Donec malesuada luctus elit nec hendrerit. Integer ex sap ien, eleifend sit amet tellus ut, porttitor dictum velit. Nulla scelerisque, nisl eu maximus bibendum nibh risus eleifend ex, id dapibus leo dui in nulla. Donec sollicitudin molestie erat sit amet elementum. Donec at lacinia massa, eu hen rit ex. Donec hendrerit, porttitor.<br>

                    </div>

                    <div class="inner-title">
                        <h3>Overview</h3>
                    </div>
                    <div class="text">
                        Lorem ipsum dolor sit amet, vix an natum labitur eleifend, mel amet a laorit menandri. Ei justo complectitur duo. Ei mundi solet ut soletu mel possit quo. Sea cu justo laudem. An utinam consulatu eos, est facilis suscipiantur te, vim te iudico delenit voluptatibus. Lorem ipsum dolor sit amet, vix an natum labitur eleifend, mel amet a laorit menandri. Ei justo complectitur duo. Ei mundi solet ut soletu mel possit quo. Sea cu justo laudem. An utinam consulatu eos, est facilis suscipiantur te, vim te iudico delenit voluptatibus. Lorem ipsum dolor sit amet, vix an natum labitur eleifend, mel amet a laorit menandri. Ei justo complectitur duo. Ei mundi solet ut soletu mel possit quo. Sea cu justo laudem. An utinam consulatu eos, est facilis suscipiantur te, vim te iudico delenit voluptatibus.
                    </div>

                    <br>
                    <div class="text">
                        Finibus ante et, imperdiet finibus risus. Donec malesuada luctus elit nec hendrerit. Integer ex sap ien, eleifend sit amet tellus ut, porttitor dictum velit. Nulla scelerisque, nisl eu maximus bibendum nibh risus eleifend ex, id dapibus leo dui in nulla. Donec sollicitudin molestie erat sit amet elementum. Donec at lacinia massa, eu hen rit ex.<br><br>

                        Consectetur adipiscing elit. Curabitur libero enim, lacinia finibus ante et, imperdiet finibus risus. Donec malesuada luctus elit nec hendrerit. Integer ex sap ien, eleifend sit amet tellus ut, porttitor dictum velit. Nulla scelerisque, nisl eu maximus bibendum nibh risus eleifend ex, id dapibus leo dui in nulla. Donec sollicitudin molestie erat sit amet elementum. Donec at lacinia massa, eu hen rit ex. Donec hendrerit, porttitor.
                    </div><br>

                    <div class="strategies">
                        <div class="inner-title">
                            <h3>Marketing Strategy</h3>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-12">

                                <div class="text">
                                    <p>Integer ex sap ien, eleifend sit amet tellus ut, porttitor dictum velit. Nulla scelerisque, nisl eu maximus bibendum nibh risus eleifend ex, id dapibus leo dui in nulla. Donec sollicitudin.</p>
                                </div>
                                <ul class="benifit">
                                    <li>States starship enterprise the Brady.</li>
                                    <li>The odds are against him and their dangers.</li>
                                    <li>Travelled down the road and back again.</li>
                                    <li>A loveable space that needs your face threes.</li>
                                    <li>Donec sollicitudin molestie erat sit amet elementum.</li>
                                    <li>Travelled down the road and back again.</li>
                                </ul>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">

                                <figure class="image-box">
                                    <img src="images/service/ss2.jpg" alt="">
                                </figure>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<script src="@Url.Content("~/Content/Site/js/jquery.js")"></script>

<script src="@Url.Content("~/Content/Site/js/serfikalar.js")"></script>
